@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFC0C0;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;; 
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: white;
    font-size: 35px;
}

.text:hover {
    opacity: 0.5;
    cursor: default;
}

header {
    
    background-color: black;
}

.shop-logo {
    margin-left: 20px;
}

.delivery {
    margin-right: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.products-item {
    width: 300px;
    height: 280px;
    margin-top: 25px;
}

.products-item {
    box-shadow: 0;
    transition: box-shadow 1s;
}

.products-item:hover {
    box-shadow: 0px 0px 20px #A60000;
}

.list-text {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

.images-keyboards {
    width: 300px;
    border: 2px solid #FF8D8D;
}

.item-info {
    text-align: center;
    margin-top: 15px;
}

p {
    margin-top: 5px;
}

footer {
    background-color: black;
    min-height: 60px;
    margin: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.author {
    color: white; 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;    
    line-height: 27px;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}

.year {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;    
    line-height: 27px;
    text-transform: uppercase;
}

.music {
    height: 30px;
    width: auto;
}

.author:hover {
    opacity: 0.5;
}