@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFC0C0;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;; 
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: white;
    font-size: 35px;
}

.text-edit {
    font-size: 25px;
}

.text:hover {
    opacity: 0.5;
}

.text-edit:hover {
    cursor: pointer;
    opacity: 0.5;
}

header {
    background-color: black;
}

.shop-logo {
    margin-left: 20px;
}

.delivery {
    margin-right: 20px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.products-item {
    width: 300px;
    height: 280px;
    margin-top: 25px;
}

.list-text {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

.images-keyboards {
    width: 300px;
    transition: all 0.5s ease-out;
}

.images-keyboards:hover {
    transform: scale(1.2);
}

.item-info {
    text-align: center;
    margin-top: 15px;
}

.item-info a {
    text-decoration: none;
    color: black;
}

p {
    cursor: default;
}

footer {
    background-color: black;
    min-height: 60px;
    margin: 25px 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.author {
    color: white; 
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;    
    line-height: 27px;
    text-transform: uppercase;
}

.git-link {
    color: white;
    text-decoration: none;
}

.year {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;    
    line-height: 27px;
    text-transform: uppercase;
}

.music {
    height: 30px;
    width: auto;
}

.author:hover {
    opacity: 0.5;
}

.main-article {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    width: 100%;
    background-image: url('images/new-music.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.quote {
    padding-bottom: 120px;
}

.quote-text {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.started-link {
    color: white;
    text-decoration: none;
}

.item-sale {
    font-size: 20px;
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #A60000;
    color: white;
    text-align: center;
    padding: 3px;
    z-index: 100;
}

.item-price {
    font-size: 20px;
}

.item-text-decor {
    text-decoration: line-through;
}

.quick-view {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-top: 13px;
}

.quick-view-wrapper {
    display: none;
    position: absolute;
    width: 300px;
    height: 50px;
    margin: -54px 0;
    background: #FF8D8D;
    opacity: .75;
}

.item-logo {
    height: 187.5px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.item-logo:hover .quick-view-wrapper {
    display: block;
}

@media screen and (max-width: 900px) {
    .quote-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 700px) {
    .quote-text {
        font-size: 35px;
    }
}

@media screen and (max-width: 500px) {
    .quote-text {
        font-size: 25px;
    }
}